/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Nunito:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "primeicons/primeicons.css";
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

:root {
  --nunito: "Nunito", sans-serif;
  --l-blue: #8ecae6;
}
